
#menue h3 , #menue header
{
	/*
	// Taille
	*/
	margin: 0px ;
	padding: 0px ;
	font-size: 250% ;
	/*
	// Position
	*/
	vertical-align:bottom;
	display: inline-block ;	
	/*
	// Decoration
	*/
	border: 3px solid green ;
	border-radius: 10px ;
	/*
	// Couleur
	*/
	background-color:black ;

}
#menue h3
{
	/*
	// Taille
	*/
	width : 25%	;
	
	
}
#menue a
{
	/*
	// Couleur
	*/
	color:maroon ;

	
	
}
#hidden
{
	/*
	// Position
	*/
	display:none;

	
	
}
.divMenue
{
	/*
	// Taille
	*/
	font-size:100%;
	/*
	// Position
	*/
	display:inline-block;


	
	
}
.divMenue input
{
	/*
	// Taille
	*/
	font-size:100%;
	/*
	// Position
	*/
	
	/*
	// Couleur
	*/
	background-color:green ;
	/*
	// Decoration
	*/	
	border: 0px ;
	border-radius: 15px ;
}
.boutonMenue
{
	/*
	// Position
	*/
-	display:none;

	
	
}
nav
{
	/*
	// Taille
	*/
	margin: 0px ;
	padding: 0px ;
	max-width : 15%	;
	min-width : 10%	;
	/*
	// Position
	*/
	display: inline-block ;
	/*
	// Decoration
	*/
	border: 3px solid green ;
	border-radius: 10px ;
	/*
	// Couleur
	*/
	background-color:black ;
	/*
	// Regle
	*/
	word-wrap : break-word ;
	
	
}
#menue  aside
{
	/*
	// Taille
	*/
	max-width : 25%	;
	/*
	// Decoration
	*/
	border: 3px solid green ;
	border-radius: 10px ;
	/*
	// Couleur
	*/
	background-color:black ;

	
}
 aside .bonjour 
{
	/*
	// Couleur
	*/
	background-color:black ;
	color: #a5751f ; 

	
}
nav a
{
	/*
	// Position
	*/
	display: block ;	
	/*
	// Dynamique
	*/
	transition:3s ;

	
}
nav a:hover
{
	/*
	// Taille
	*/
	font-size: 125% ;
	/*
	// Couleur
	*/
	background-color:blue ;
	color:white ;
	/*
	// Dynamique
	*/
	transition:1s ;
	
}