
#DESCRIPTION
{
	/*
	// Taille
	*/
	width:80%;
-	min-height: 300px ;
	max-height: 300px ;
		max-height: 1200px ;
	margin : 0px ;
-	padding-left : 1% ;
	font-size:200%;
	/*
	// Position
	*/
	display:inline-block;
	top:  0px  
	/*
	// Decoration
	*/;
	border: 5px solid black;
	border: 5px solid white;
	border: 5px ridge  white;
	/*
	// Couleur
	*/
	color:maroon ;
	color: #291809 ;
	color: #431c13 ;
	background-color:gray;
	/*
	// Regle
	*/
	overflow:hidden ;
-	overflow:SCROLL ;
	WORD-WRAP : BREAK-WORD ;
	word-break: normal; 
-	word-break: break-all; 
-	word-break: keep-all;
-	word-break: inherit;
-	word-break: normal ;
-	WORD-WRAP : normal  ;
    word-break: normal;
-	word-wrap: break-word;
  overflow-wrap : break-word;
}
#EXEMPLE
{
	/*
	// Taille
	*/
	width:15%;
	min-height:100%;
	min-height: 300px ;
	max-height: 400px ;
	margin : 0px ;
	/*
	// Position
	*/
	display:inline-block;
	vertical-align:  top  ;
	position:relative;
	float:right ;
	/*
	// Regle
	*/
	overflow:hidden ;
	overflow:SCROLL ;
	WORD-WRAP : BREAK-WORD ;
	/*
	// Decoration
	*/
	border: 20px inset   #675202;
	border: 20px ridge    #675202;
	border-radius: 15px ;
	/*
	// Couleur
	*/
	color:white ;
	background-color:black;
}
#EXEMPLE:hover
{
	/*
	// Taille
	*/
	width:100%;
-	margin : auto ;
	font-size:400%;
	max-height: 600px ;
	/*
	// Position
	*/
	display:block;
	position:absolute;
	top: 50px ;
	/*
	// Regle
	*/
	overflow:scroll  ;
	/*
	// Decoration
	*/
-	border: 20px inset   #675202;
-	border: 20px ridge    #675202;
-	border-radius: 15px ;
	/*
	// Couleur
	*/
-	color:white ;
-	background-color:black;
}
#corp
{
	/*
	// Taille
	*/
-	height: 1000px ;
	max-height: 1400px ;
-	width:1000px;
	width:85%;
	/*
	// position
	*/
	
	/*
	// Decoration
	*/

	/*
	// Couleur
	*/
	background-color:rgba(80,80,80,0.3) ;
}
h2
{
	/*
	// Taille
	*/
-	height: 1000px ;
-	max-height: 1400px ;
-	width:1000px;
	width:25%;
	/*
	// position
	*/
	padding-left : 15px ;
	
	/*
	// Decoration
	*/
	border-radius: 35px;

	/*
	// Couleur
	*/
	background-color:rgba(80,80,80,0.3) ;
	background-color:	orange ;
	background-color:#b4301f ; ;
}
h1
{
	/*
	// Taille
	*/
-	height: 1000px ;
-	max-height: 1400px ;
-	width:1000px;
	width:auto;
	width:25%;
	/*
	// position
	*/
	margin : auto ;
	
	/*
	// Decoration
	*/
	border-radius: 15px;
	border-radius: 35px;

	/*
	// Couleur
	*/
	background-color:	black ;
	background-color:	marine ;
	background-color:rgba(80,80,80,0.3) ;
	background-color:#0b2453 ;
	background-color:#474d5b ;
	background-color:#593618 ;
	background-color:#5b4503 ;
	background-color:#174924 ;
}
#DESCRIPTION img
{
	/*
	// Taille
	*/
-	height: 1000px ;
-	max-height: 100px ;
	max-width: 100px ;
-	width:1000px;
	/*
	// position
	*/

	
	/*
	// Decoration
	*/
	border: 1px solid black;
	border-radius: 3px;

	/*
	// Couleur
	*/
	
}
#DESCRIPTION img:hover
{
	/*
	// Taille
	*/
-	height: 1000px ;
-	max-height: 100px ;
	max-width: 1000px ;
-	width:1000px;
	/*
	// position
	*/

	
	/*
	// Decoration
	*/
	border: 1px solid black;
	border-radius: 3px;

	/*
	// Couleur
	*/
	
}